body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
}

.header-nav-current-user {
  padding-bottom: 0px;
  font-size: inherit;
}


.dropdown-divider {
  height: 1px;
  margin: 8px 1px;
  background-color: #e1e4e8;
}

.user-profile-repo-filter {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.nav-tabs > li {
  margin-bottom: -2px !important;
}
